/* Text */
.very-large-text {
	font-size: calc(var(--inline-title-size) * 2);
}

.is-mobile .very-large-text {
	font-size: calc(var(--inline-title-size) * 1.35);
}

.medium-large-text {
	font-size: var(--h6-size);
}

.medium-text {
	font-size: var(--font-ui-medium);
}

.secondary-text {
	color: var(--text-faint) !important;
}

.error-text {
	color: var(--color-red) !important;
}

.success-text {
	color: var(--color-green) !important;
}

.warning-text {
	color: var(--color-yellow) !important;
}


/* Icons */

.small-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.small-icon svg {
	height: calc(var(--icon-xl) * 0.8) !important;
	width: calc(var(--icon-xl) * 0.8) !important;
}

.is-mobile .small-icon svg {
	height: calc(var(--icon-xl) * 0.6) !important;
	width: calc(var(--icon-xl) * 0.6) !important;
}

.medium-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.medium-icon svg {
	height: var(--icon-xl) !important;
	width: var(--icon-xl) !important;
}

.is-mobile .medium-icon svg {
	height: calc(var(--icon-xl) * 0.8) !important;
	width: calc(var(--icon-xl) * 0.8) !important;
}

.large-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.large-icon svg {
	height: calc(var(--icon-xl) * 1.5) !important;
	width: calc(var(--icon-xl) * 1.5) !important;
}

.is-mobile .large-icon svg {
	height: calc(var(--icon-xl) * 1.2) !important;
	width: calc(var(--icon-xl) * 1.2) !important;
}

.green-icon svg {
	color: var(--color-green) !important;
}

.red-icon svg {
	color: var(--color-red);
}

.yellow-icon svg {
	color: var(--color-yellow);
}

.gray-icon svg {
	color: var(--text-faint) !important;
}

.transparent-icon svg {
	opacity: 0.1;
}


/* Spacing */

.margin-left-small {
	margin-left: 8px;
}

.margin-left-medium {
	margin-left: 16px;
}

.margin-left-large {
	margin-left: 32px;
}

.margin-bottom-small {
	margin-bottom: 8px;
}

.margin-bottom-medium {
	margin-bottom: 16px;
}

.margin-bottom-large {
	margin-bottom: 32px;
}

.margin-right-small {
	margin-right: 8px;
}

.margin-right-medium {
	margin-right: 16px;
}

.margin-right-large {
	margin-right: 32px;
}

.margin-top-small {
	margin-top: 8px;
}

.margin-top-medium {
	margin-top: 16px;
}

.margin-top-large {
	margin-top: 32px;
}

.padding-right-medium {
	padding-right: 16px;
}

.margin-small {
	margin: 8px;
}

.margin-medium {
	margin: 16px;
}

.padding-small {
	padding: 8px;
}

.padding-medium {
	padding: 16px;
}

.disable-spacing {
	margin: 0 !important;
	padding: 0 !important;
}


/* Mobile spacing */

.is-mobile .margin-left-small {
	margin-left: 4px;
}

.is-mobile .margin-left-medium {
	margin-left: 8px;
}

.is-mobile .margin-left-large {
	margin-left: 16px;
}

.is-mobile .margin-bottom-small {
	margin-bottom: 4px;
}

.is-mobile .margin-bottom-medium {
	margin-bottom: 8px;
}

.is-mobile .margin-bottom-large {
	margin-bottom: 16px;
}

.is-mobile .margin-right-small {
	margin-right: 4px;
}

.is-mobile .margin-right-medium {
	margin-right: 8px;
}

.is-mobile .margin-right-large {
	margin-right: 16px;
}

.is-mobile .margin-top-small {
	margin-top: 4px;
}

.is-mobile .margin-top-medium {
	margin-top: 8px;
}

.is-mobile .margin-top-large {
	margin-top: 16px;
}

.is-mobile .padding-right-medium {
	padding-right: 8px;
}

.is-mobile .margin-small {
	margin: 4px;
}

.is-mobile .margin-medium {
	margin: 8px;
}

.is-mobile .padding-small {
	padding: 4px;
}

.is-mobile .padding-medium {
	padding: 8px;
}


/* Another utils */

.button {
	background: var(--background-primary-alt) !important;
	font-size: calc(var(--font-ui-larger) * 5);
	cursor: pointer;
}

.button:active {
	background: var(--background-modifier-active-hover) !important;
}

.button:hover {
	background: var(--background-modifier-hover) !important;
}

.container-style {
	background: var(--background-modifier-form-field);
	border: var(--input-border-width) solid var(--background-modifier-border);
	color: var(--text-normal);
	border-radius: var(--input-radius);
}

.primary-border {
	border: var(--border-width) solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.always-primary-border {
	border: var(--border-width) solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.always-primary-border:hover {
	border: var(--border-width) solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.always-primary-border:focus {
	border: var(--border-width) solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.red-border {
	border: var(--border-width) solid var(--color-red);
}

.disable-outline {
	outline: none;
	resize: none;
	box-shadow: none;
}

.disable-outline:focus {
	outline: none;
	resize: none;
	box-shadow: none;
}


.cursor-pointer {
	cursor: pointer;
}

.flex-fill {
	flex: 1 1 auto;
}

.flex-center {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.flex-center-column {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.flex-start {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.flex-space-between {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.flex-space-between-column {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.flex-end {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
	align-items: center;
}


.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.static-height {
	height: 30vh;
}

.middle-hr {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.middle-container {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

.overflow-y {
	overflow-y: auto;
}


/* Modal */

.is-mobile .quiz-modal-container {
	height: 100vh;
}


/* Markdown base view */

.markdown-base-block {
	border: var(--border-width) solid var(--background-modifier-border);
	padding: 20px 20px 20px 25px;
	margin: 20px 0 20px 0;
	border-radius: var(--code-radius);

	overflow-x: auto;
}

.markdown-base-block-minify {
	padding: 10px 10px 10px 15px;
	margin: 10px 0 10px 0;

	overflow-x: auto;
}

.is-mobile .markdown-base-block {
	font-size: 80%;
}

.markdown-base-block-header-container {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.markdown-base-block-header-container-title {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: row;
}

.markdown-base-block-header-actions-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	align-content: center;
	flex-direction: row;
}


/* Markdown card placeholder */

.card-placeholder-data {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}


/* Streak view */

.streak-container {
	margin-top: 16px;
	margin-bottom: 16px;

	display: flex;
	width: 100%;
	max-width: 100%;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
	flex-direction: row;
}

.streak-container-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.streak-day-title {
	font-size: calc(var(--font-text-size) * 0.9);
}

.streak-day-icon svg {
	height: calc(var(--icon-xl) * 0.9) !important;
	width: calc(var(--icon-xl) * 0.9) !important;
}


/* Cards count view */

.cards-count-container {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}


/* Select list view */

.select-list-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	align-content: center;
}

.select-list-input-container {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.search-list-items-container {
	width: 100%;
	height: 100%;

	overflow-y: auto;
}

.search-list-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	cursor: pointer;
	align-content: flex-start;
}

.search-list-item:hover {
	background-color: var(--background-modifier-hover);
}

.search-list-item-selected {
	background-color: hsla(var(--color-accent-hsl), 0.15);
}
